@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Shopping</h1>
    <h3> Check here </h3>

    <p><a href="~/Home/Contact" class="btn btn-primary btn-lg">Contact us &raquo;</a></p>
</div>
