@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1  style="text-align:center">Car Shopping</h1>
    <h3  style="text-align:center">All In One</h3>
    <p style="text-align:right">

        @Html.TextBox("Search") <input type="submit" value="Search" />
    </p>

    <p><a href="~/Home/Contact" class="btn btn-primary btn-lg">Contact us &raquo;</a></p>
</div>
